* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  font-family: "Quicksand", sans-serif;
}
* body #nav {
  width: 100%;
  padding: 30px;
  border-bottom: 2px solid black;
  border-width: 60%;
  background-color: #f5f5f5;
}
* body #nav #title-container h2 {
  display: inline;
}
* body #nav #title-container img {
  width: 50px;
  float: right;
}
* body #nav #links-container {
  width: 100%;
  display: none;
}
* body #nav #links-container.active {
  display: flex;
  flex-direction: column;
}
* body #nav #links-container.active a {
  padding: 10px;
  text-align: center;
  color: black;
  text-decoration: none;
  margin-right: 8px;
  font-size: 20px;
}
* body #nav #links-container.active button {
  font-family: "Quicksand", sans-serif;
  margin-top: 10px;
  padding: 15px 20px;
  width: 120px;
  align-self: center;
  background-color: black;
  color: white;
  border-style: none;
  font-size: 0.8rem;
}
* body #nav #links-container.active a:hover {
  background-color: #c6c2c2;
  width: 100%;
  margin-top: 10px;
}
* body main #posts-container {
  margin: 10px 0;
}
* body main #posts-container .post {
  margin-top: 10px;
  background-color: #f5f5f5;
  border-bottom: grey 2px solid;
  width: 100%;
  padding-bottom: 10px;
}
* body main #posts-container .post img {
  width: 100%;
}
* body main #posts-container .post h3,
* body main #posts-container .post p {
  padding: 10px 20px;
}
* body main #posts-container .post .delete,
* body main #posts-container .post .edit {
  margin-left: 20px;
  font-family: "Quicksand", sans-serif;
  margin-top: 10px;
  padding: 10px 10px;
  width: 100px;
  align-self: center;
  background-color: black;
  color: white;
  border-style: none;
  font-size: 0.8rem;
}
* body .wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 80%;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
}
* body .wrapper h1 {
  text-align: center;
}
* body .wrapper form {
  display: flex;
  flex-direction: column;
}
* body .wrapper form .form-inputs {
  display: flex;
  flex-direction: column;
}
* body .wrapper form .form-inputs input {
  border: none;
  border-bottom: 1.5px black solid;
  padding: 10px;
}
* body .wrapper form .form-inputs input:-webkit-autofill, * body .wrapper form .form-inputs input:-webkit-autofill:hover, * body .wrapper form .form-inputs input:-webkit-autofill:focus, * body .wrapper form .form-inputs input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
* body .wrapper form .form-inputs input:focus {
  outline: 0;
}
* body .wrapper form button {
  font-family: "Quicksand", sans-serif;
  margin-top: 10px;
  padding: 15px 20px;
  width: 120px;
  align-self: center;
  background-color: black;
  color: white;
  border-style: none;
  font-size: 0.8rem;
}
* body .link {
  color: black;
  padding: 0 2px;
}

@media only screen and (min-width: 768px) {
  body #nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body #nav img {
    display: none;
  }
  body #nav #links-container {
    display: flex;
    width: auto;
    align-items: center;
  }
  body #nav a {
    color: black;
    text-decoration: none;
    margin-right: 8px;
    font-size: 20px;
  }
  body #nav button {
    font-family: "Quicksand", sans-serif;
    margin-top: 10px;
    padding: 10px 10px;
    width: 100px;
    align-self: center;
    background-color: black;
    color: white;
    border-style: none;
    font-size: 0.8rem;
  }
  body .wrapper {
    max-width: 900px;
  }
  body .wrapper #create-post {
    flex-direction: column;
    width: 80%;
  }
  body .wrapper #create-post label {
    align-self: flex-start;
  }
  body .wrapper #create-post input {
    width: 100%;
  }
  body .wrapper form {
    max-width: 700px;
    margin: 0 auto;
  }
  body .wrapper form #create-post-inputs {
    flex-direction: column;
  }
  body .wrapper form .form-inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  body .wrapper form button {
    width: 100%;
  }
  body main #posts-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 968px;
    margin: 10px auto;
    justify-content: center;
  }
  body main #posts-container .post {
    margin-right: 10px;
    max-width: 300px;
  }
  body main #posts-container .post img {
    height: 200px;
  }
}/*# sourceMappingURL=style.css.map */